<h2>{{someData.value | json}}</h2>
<h2>{{time}}</h2>
<div class="container mt-3">
  <h3>Modal Example</h3>
  <p>Click on the button to open the modal.</p>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup] = "someData" (ngSubmit)="onSubmit()" autocomplete="true">
          <div class="form-group">
            <label >name</label>
            <input  formControlName="name" class="form-control" autocomplete="off" type="text" name="name" id="name" required>
            <!-- <small [class.d-none]="name.valid && name.untouched">name is required</small> -->
          </div>
          <div class="form-group mt-2">
            <label>password</label>
            <input [class.is-invalid]="" formControlName="password" class="form-control" autocomplete="off" type="password" name="password" id="password" >
            <!-- <small [class.d-none]="password.">some message</small> -->
          </div>
          <button [disabled]="!someData.valid" class="btn btn-info mt-2" type="submit">submit</button>
        </form>
      </div>
      <!-- [disabled]="!someData.valid" -->
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<p><i class="bi bi-apple"></i></p>
<i class="fa fa-solid fa-bolt"></i>
<i class="fa fa-solid fa-cloud-bolt-moon"></i>
<div [class.whole]="said" >
  <h1 *ngIf="said;else order">works!! {{things + " " + data}}</h1>
  <ng-template #order>
    <p>
      This text is hidden
    </p>
  </ng-template>
  
  <div *ngFor="let list of lists">
    {{list.data1}}
  </div>
</div>
<button (click)="job()">click</button><br>
<a routerLink="/test">Test</a>
<a routerLink="/result">Result</a>
<router-outlet></router-outlet>
</div>