<p>result works!</p>
<h3>you have selected id is {{id}}</h3>
<div>
    <button (click)="goback()">Back</button>
    
</div>
<ul>
    <li><a [routerLink]="['/tested',1]">test 1</a></li>
    <li><a [routerLink]="['/tested',2]">test 2</a></li>
    <li><a [routerLink]="['/tested',3]">test 3</a></li>

    <li><a routerLink="info">info </a></li>
    <li><a  routerLink="items">items</a></li>
    <router-outlet></router-outlet>
    
</ul>